<h2>Request to join group </h2><br>
===============================================


 <br>
<h4>  <%= @request_user.user_name %> has requested you to add him/her to group
<h2> <%= @group.name %>  </h2><br>
<br>
Log in using this link: <%= @url_log_in %>.
</h4>