<h2>Welcome to Discussion Platform , <%= @user.first_name %> </h2><br>
===============================================
 <br>
<h4>You have added to our Discussion Platform <br>
Your username is: <%= @user.user_name %>.<br>
 
To login to the site, just follow this link: <%= @url %>.<br>
 
Thanks for joining and have a great day!<br>


Log_in using this link: <%= @url_log_in %>.</h4>